{% extends 'base.html' %}

{% block title %}
  {{ receipt.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'receipts' %}">Receipts</a></li>
  <li class="breadcrumb-item active">{{ receipt.name }} </li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_ingredient' receipt.pk %}" class="btn btn-primary">New Ingredient</a>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in receipt.ingridients.all %}
        <td>{{ ingredient.type.name }}</td>
        <td>{{ ingredient.amount }}</td>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}